.vscode
data/*
model/__pycache__/
experiments/baseline/tensorboard/
dataloader/__pycache__/
ngrok
ngrok-stable-linux-amd64.zip
template_ws.code-workspace
__pycache__/
depth.code-workspace
experiments/depth_resnet50/logs/
experiments/depth_resnet50/tensorboard/
experiments/depth_resnet50/ckpt/
experiments/segmentation_resnet50/logs/
experiments/segmentation_resnet50/tensorboard/
experiments/segmentation_resnet50/ckpt/
experiments/transfer_baseline/logs/
experiments/transfer_baseline/tensorboard/
experiments/transfer_baseline/ckpt/
experiments/transfer_bs1/
experiments/transfer_bs4/